// 颜色常量
$kpmgWhite = #ffffff
$kpmgBlack = #000000
$kpmgGray = #DCDCDC
$kpmgRadioGray = #F2F2F2
$kpmg-ccc-gray = #CCCCCC
$kpmgBlueLight = #0091da
$kpmgBlue = #005eb8
$kpmgBlueDark = #003399
$purple = #6d2077
$redDark = #c30
$gray = #999
$kpmgBlueBg = #DFECF5
// css 大小常量
$fontSize = 10px
