@import '~antd/dist/antd.css';

.home {
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toolbar {
      display: flex;
      align-items: center;
      >.anticon {
        padding: 6px;
        font-size: 24px;
      }
    }
  }

  .home-nav-bar {
    padding: 0 0 0 30px;

    .ant-menu-item {
      border-bottom: none;

      &.ant-menu-item-selected {
        border-top: 3px solid #1890ff;
      }
    }
  }

  #components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 28px 16px 0;
    float: left;
  }
}
